*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-page{
    width: 100%;
    position: initial;
    height: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin: 0 auto;
    display: block;
    padding: 30px;
}
.top-page li{
    float: left;
}
.top-page-left{
    float: left;
    margin-top: -25px;
}
.top-page-left li a{
    color: #22222290;
    margin-right: 20px;
}
.top-page-left li a i{
    margin-right: 10px;
}
.top-page-right{
    float: right;
    margin-top: -25px;
    margin-right: 100px;
}
.top-page-right li a{
    color: #22222290;
    margin-right: 20px;
}
.top-page-right li i{
    margin-right: 10px;
    color: #ffa500;
}
li{
    list-style: none;
}
.header{
    background-color: #ffffff;
    padding: 20px 0;
}
.top-cart{
    float: right;
    margin-right: 50px;
    margin-left: -70px;
    margin-top: 15px;
}
.menu{
    float: right;
}
.menu li{
    float: left;
}
.menu li a{
    float: left;
    margin-right: 80px;
    font-size: 16px;
    color: #22222285;
    line-height: 54px;
}
.top-cart a{
    float: left;
    margin-left: 20px;
    color: #22222285;
    font-size: 16px;
    line-height: 54px;
}
.logo a{
    font-size: 40px;
    color: #ffa500;
    font-weight: 500;
    text-shadow: -5px 3px 3px #ffa500;
}
.logo{
    float: left;
    margin-left: 80px;
}
.column{
    float: left;
    width: 28%;
    margin-top: 10%;
    margin-left: 5%;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.content-images{
    max-width: 100%;
    box-sizing: border-box;
}

.column h3{
    margin-left: 15px;
    margin-right: 5px;
    color: orangered;
}
.column p{
    margin-left: 15px;
    margin-right: 5px;
}
.fb-page{
    max-width: 30%;
    box-sizing: border-box;
}
.main-left{
    display: inline-block;
    width: 80%;
}
.main-right{
    float: left;
    width: 300px;
}
.column{
    margin-left: 5%;
    margin-right: 5%;
}
img{
    max-width: 100%;
}
.left-container{
    float: left;
    max-width: 25%;
    margin-top: 50px;
}
.fb-page{
    float: left;
    width: 10%;
}
